{% extends '@AustralSecurity/Layout/layoutAuthenticated.html.twig' %}

{% block title %}Reporting{% endblock %}

{% block body %}
  <div class="container-master">
    <div class="content-master">
      <div class="container-auto-width container-auto-margin">
        <div class="background-white">
          {% set dataReload = [
            '#master-conteneur',
            '.header-master'
          ] %}
          <form method="post" name="authenticated" class="form-padding" data-form-actions="reload" data-reload-element="{{ dataReload|json_encode }}">
            <div class="fields-content">
              <div class="field-element field-login-content">
                {% include '@AustralSecurity/Layout/Components/Form/field.html.twig' with {
                  field: {
                    animeLabel:   1,
                    name:         "login",
                    input:        '<input type="text" value="" name="_username" id="login-email" class="form-control" required autofocus>',
                    label:        '<label for="login-email">'~("user.fields.email.label"|trans({}, 'form'))~'</label>',
                    errors:       "",
                    parameters:   {
                      fieldType:  "text"
                    }
                  },
                  form:           {},
                  object:         {}
                } only %}
              </div>
              <div class="field-element field-password-content">
                {% include '@AustralSecurity/Layout/Components/Form/field.html.twig' with {
                  field: {
                    animeLabel:   1,
                    name:         "login",
                    input:        '<input type="password" name="_password" id="login-password" class="form-control" required>',
                    label:        '<label for="login-password">'~("user.fields.password.first.label"|trans({}, 'form'))~'</label>',
                    errors:       "",
                    parameters:   {
                      fieldType:  "text"
                    }
                  },
                  form:           {},
                  object:         {}
                } only %}
              </div>
            </div>
            <div class="content-button">
              <button class="button blue" type="submit">{{ "actions.authenticated"|trans({}, 'form') }}</button>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
          </form>
        </div>
      </div>
    </div>
  </div>



{% endblock %}