<title>{{ page.meta.title is defined ? page.meta.title ~ " | " ~ site.name : site.name }}</title>
<meta name="description" content="{{ page.meta.description is defined ? page.meta.description ~ " | " ~ site.name : site.name }}" />


