<div class="avatar-container" style="--element-avatar-size: 5rem;">
  <div class="avatar type-initial">
    <span class="default font-poppins-m-13-uppercase">{{ object.firstname|first }}{{ object.lastname|first }}</span>
  </div>
</div>